.app{
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%
}

.calculatorAnswer {
  display: inline-block;
  height: 380px;
  margin-left: 250px;
}

.calculatorContainer {
  width: 400px;
  height: 500px;
}

.calculatorHistory {
  display: flex;
  height: 380px;
  margin-left: 250px;
}

.calculatorInput {
  align-items: center;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  font-size: 1.5em;
  font-weight: bold;
  height: 4em;
  justify-content: flex-end;
  outline: 1px solid #888888;
  padding: 1em;
  width: 348px;
  text-align: right;
}

.clearBtn {
  align-items: center;
  background-color: #888888;
  color: #e0e1e6;
  display: flex;
  flex: 1;
  font-size: 1.5em;
  font-weight: normal;
  height: 4em;
  justify-content: center;
  outline: 1px solid #888888;
  width: 400px;
}

.keypadBtn {
  align-items: center;
  background-color: #e0e1e6;
  color: #888888;
  display: flex;
  flex: 1;
  font-weight: lighter;
  font-size: 1.5em;
  height: 4em;
  justify-content: center;
  outline: 1px solid #888888;
}

.keyRow {
  display: flex;
}

.operatorBtn {
  align-items: center;
  background-color: #fe9241;
  color: #FFFFFF;
  display: flex;
  flex: 1;
  font-size: 1.5em;
  font-weight: lighter;
  height: 4em;
  justify-content: center;
  outline: 1px solid #888888;
}